@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Nummerplader.Models.NummerPladerModel


    <div>

        <div style="text-align:center; margin-bottom:3%">
            <form asp-action="Index" asp-controller="NummerPlader" method="get">
                <input name="regnr" type="text" placeholder="Indtast Registerings nummer" />
                <input type="submit" />
            </form>
        </div>
        @if (Model != null)
        {
            <div class="row">
                <div class="col col-black-border">
                    <p>@Model.Model</p>
                    <p>@Model.Model</p>
                    <p>@Model.Model</p>



                </div>
                <div class="col col-black-border">
                    <p>@Model.Color</p>
                    <p>@Model.Color</p>
                    <p>@Model.Color</p>


                </div>
            </div>

        }

    </div>
